@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
    font-family: "Poppins", sans-serif;
}


a:visited{
    color: red;
}
a:link{
    color: orange;
}
a:hover{
    color: green;
}
a:active{
    color: black;
}

p:hover {
    color: green;
}

p:active {
    color: red;
}
input:focus{
    padding: 10px;
    outline: none;
    border: 2px solid green;
}
input:required{
    color:red;
}